@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

:root {
  --color-primary: #2DB591;
  --color-primary-dark: #1A8C6E;
  --color-support: #0EA5E9;
  --color-light: #F0FBF8;
  --color-dark: #1C2B38;
}

@theme inline {
  --color-primary: #2DB591;
  --color-primary-dark: #1A8C6E;
  --color-support: #0EA5E9;
  --color-light: #F0FBF8;
  --color-dark: #1C2B38;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: Arial, Helvetica, sans-serif;
}